In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
data=pd.read_csv("spam.csv",encoding="latin_1")
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [9]:
data = data.drop(["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], axis=1)

In [10]:
data = data.rename(columns={"v1":"label", "v2":"text"})

In [11]:
data.label.value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [12]:
data['label_num'] = data.label.map({'ham':1, 'spam':0})

In [13]:
x=np.array(data['text'])
x

array(['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...',
       'Ok lar... Joking wif u oni...',
       "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
       ..., 'Pity, * was in mood for that. So...any other suggestions?',
       "The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free",
       'Rofl. Its true to its name'], dtype=object)

In [14]:
y = np.array(data['label_num'])
y

array([1, 1, 0, ..., 1, 1, 1], dtype=int64)

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:
tf=TfidfVectorizer()

In [18]:
train_data = tf.fit_transform(x_train)
test_data = tf.transform(x_test)

In [23]:
from sklearn.naive_bayes import MultinomialNB

In [24]:
model=MultinomialNB()
model.fit(train_data,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [25]:
pred=model.predict(test_data)
pred

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [26]:
model.score(test_data,y_test)

0.9611244019138756